.container {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: 1px solid burlywood;
}
.about {
  max-width: 475px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  width: 380px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin-left: -15px;
}
.button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.buttonUpdate {
  border: 1px solid black;
  border-radius: 7px;
  margin-left: 5%;
  padding: 5px;
  align-items: center;
  color: rgb(88, 88, 88);
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
}
.buttonDelete {
  border: 1px solid black;
  border-radius: 7px;
  margin-left: 5%;
  padding: 5px;
  align-items: center;
  color: rgb(88, 88, 88);
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
}

.buttonUpdate:hover,
.buttonDelete:hover {
  background-color: rgb(223, 223, 223);
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 10px;
  padding: 5px;
  font-size: 1em;
  font-weight: 300;
  color: rgb(88, 88, 88);
  background-color: rgb(235, 235, 235);
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(223, 223, 223);
}
.formContainer {
  display: flex;
  align-items: baseline;
  margin-left: 20%;
  margin-bottom: 10px;
}
.image {
  max-width: 480px;
}
