.ul {
  opacity: 0;
  animation: ani 2.5s forwards;

  display: flex;
  justify-content: center;
  padding-left: 0;
}
.li {
  padding: 5px;
  background: rgb(236, 236, 243);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: block;
  margin: 5px;
}
.name {
  text-decoration: wavy;
  padding: 5px;
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img {
  height: 100px;
  max-width: 180px;
}
.nameAndImg {
  display: block;
  max-width: 180px;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Link {
  text-decoration: none;
  color: black;
}
